* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: white;
}
/* regole flex per macrostruttura */
.container-flex {
  display: flex;
  height: calc(100vh - 100px);
}

/* flex sinistro menu */
.sx {
  width: 15%;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

/* flex destro contenuto principale */
.dx {
  width: 85%;
  overflow: auto;
  background-color: #141922;
  color: grey;
}

.dx h3 {
  color: white;
}

a {
  text-decoration: none;
  color: grey;
}
/* header fisso */
header {
  padding-top: 100px;


}

.section h1 {
  font-size: 300px;
}
.upgrade {
  position: fixed;
  right: 0;
  top:0;
  z-index: 900;
  width: calc(100vw - 190px);
  border: 1px solid black;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  background-color: #080b12;
  opacity: 0.8;
}

.bottone-upgrade {
  margin: 20px 20px;
  border-radius: 40px;
  border: 1px solid white;
  padding: 20px;
  transition: transform 0.1s;
}

.bottone-upgrade:hover {
  transform: scale(1.1);
}

/* regole flex per colonna sinistra */
.flex-column  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 140px);
}

.logo img {
  max-width: 20%;
}

.logo a {
  display: inline-block;
}

.styletext{
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.little {
  font-size: 15px;
}

.bordo-green {
  border-left: 2px solid lightgreen;
}

.home img {
  max-width: 15%;
}

.home a {
  display: block;
}

.playlist {
  margin: 10px 0;
  overflow-y: auto;
}

.playlist a {
  display: block;
}

#download {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
#download img {
  max-width: 8%;
}

#profilo img {
  max-width: 10%;
}

/* sezione menù orizzontale (blocco destro) */

#select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

#select li {
  display: inline-block;
  margin: 0 10px;
}

.hover-green:hover {
  border-bottom: 2px solid lightgreen;
}

/* sezione album */

.Titolo {
  margin: 20px 0;
}

.card span:nth-child(2) {
  color: white;
  font-weight: bold;
}
.general-album {
  padding: 20px 20px;
}

.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  text-align: center;
  width: 16%;
}

.card:hover {
  cursor: pointer;
  opacity: 0.5;
}
.card img {
 max-width: 150px;
}

.card span {
  display: block;
}

.spazio {
  margin-left: 25px;
}

/* sezione intermedia card */

.foryou {
  display: flex;
  flex-wrap: wrap;
}

/* sezione inferiore con card rotonde */

.radius {
  border-radius: 50%;
}

.circle span {
  text-align: center;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: rgb(40, 40, 40);
  color: grey;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.left img {
  max-width: 10%;
}

.left-text {
  display: inline-block;
}

.left-text span:first-child {
  color: white;
  font-weight: bold;
}
.left-text span{
  display: block;
  margin: 0 10px;
}

#hover-white:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.far {
  margin: 0 10px;
}
.far:hover {
  color: white;
  cursor: pointer;
}
.fas:hover {
  color: white;
  cursor: pointer;
}

.mid {
  text-align: center;
  color: white;
}

.fa-play-circle {
 transition: transform 0.1s;
}

.fa-play-circle:hover {
  transform: scale(1.5);
}
.linea {
  display: inline-block;
  width: 250px;
  height: 5px;
  background-color: grey;
  border-radius: 30px;
}

.over-linea {
  width: 50px;
  height: 4px;
  background-color: white;
  border-radius: 30px;
}

.over-linea:hover {
  cursor: pointer;
  background-color: lightgreen;
}

.right {
  margin-top: 20px;
  color: white;
}
@media all and (min-width: 769px) and (max-width: 1080px) {

  .card {
    width: 25%;
  }

  .album {
    justify-content: flex-start;
  }

  .spazio {
    margin-left: 0;
  }


}

@media all and (max-width: 768px) {
  .card {
    width: 50%;
  }

  .spazio {
    margin-left: 0;
  }

}
